<div class="private-office">
  <header>
    <div class="private-office__logotype">My vocabulary</div>
  </header>

  <div class="private-office__modal d-flex justify-content-between">
    <div class="d-flex private-office__levels">
      <div class="title mb-3">Рівні</div>

      <ul class="list">
        {{#each this.levels as |level|}}
          <li class="{{if level.status 'open' ''}}"
              onclick={{action 'setActiveLevel' ''}}>
            <div>
              <i class="icon icon-closed"></i>
              {{level.title}}
            </div>
            {{#if level.status}}
              <span class="status">{{level.status}}%</span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="d-flex w-100">
      <div class="d-flex private-office__topics flex-column">
        <div class="title mb-3">Теми</div>
        <ul class="list">
          {{#each this.topics as |topic|}}
            <li class="mb-8 {{if topic.status 'completed' 'pl-20'}} {{if topic.active 'active' ''}}"
                onclick={{action 'setActiveTopic' ''}}>
              <div class="{{if topic.status 'pl-20' ''}}">
                {{#if topic.status}} <i class="icon icon-completed"></i> {{/if}}
                {{#if topic.active}} <i class="icon icon-completed-white"></i> {{/if}}
                {{topic.title}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="d-flex private-office__content w-100">
      </div>
    </div>
  </div>
</div>